<!DOCTYPE html>
<html>
<head>
  <title>Página de inicio</title>
  <style>
    /* Estilos CSS opcionales para personalizar la apariencia de la página */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    
    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
    
    h1 {
      color: #333;
    }
    
    p {
      color: #666;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Bienvenido a la página de inicio</h1>
    <p>¡Hola, mundo!</p>
  </div>
  <% if current_user %>
<h2><%= current_user.email %></h2>

<%= link_to "Edit Account", edit_user_registration_path %>
<%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
<% else %>
<%= link_to "Login", new_user_session_path %>
<%= link_to "Create Account", new_user_registration_path %>
<% end %>
</body>
</html>
